/*#region Global CSS Variables */
:root {
    --logo-size: 62px;
    --side-pd: 60px;
    --top-pd: 24px;

    --h1-size: 48px;
    --h2-size: 42px;
    --h3-size: 36px;
    --h4-size: 32px;
    --h5-size: 28px;
    --span1-size: 24px;
    --span1b-size: 20px;
    --span2-size: 18px;
    --span3-size: 16px;
    --span4-size: 14px;
    --span5-size: 12px;
    --span6-size: 8px;

    --header-size: calc(var(--top-pd) * 2 + var(--logo-size));

    /* Updated on runtime*/
    --scroll-scale: 0;
}

/* Mobile Potrait */
@media only screen and (max-width: 767px) and (min-height: 480px) {
}

/* Mobile Landscape */
@media only screen and (max-width: 1023px) and (max-height: 480px) {
}

/* Tablets Potrait */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (min-height: 480px) {
}

/*#endregion */

/*#region Global Element Styles */
html {
    width: 100vw;
    height: 100dvh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: white;
}

body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Montserrat';*/
}

li {
    list-style: none;
}

i {
    pointer-events: none;
    user-select: none;
    cursor: none;
}

a {
    text-decoration: none;
    user-select: none;
}

img {
    pointer-events: none;
    cursor: none;
    user-select: none;
}

.app-page {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Custom Button */
.base-btn {
    --hovered-color: theme(colors.secondary.800);
    --hovered-text-color: white;

    width: auto;
    height: auto;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--span4-size) var(--span1-size);
    gap: var(--span4-size);

    border-radius: 999999px;
    background-color: theme(colors.secondary.main);
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.base-btn-icon {
    color: var(--text-color, white);
    font-size: var(--span1-size);
}

.base-btn-txt {
    color: var(--text-color, white);
    font-size: var(--span2-size);
    font-weight: 600;
    transition: color 300ms ease-in-out;
}

.base-btn:hover {
    background-color: var(--hovered-color);
}

.base-btn:hover .base-btn-txt,
.base-btn:hover .base-btn-icon {
    color: var(--hovered-text-color, white);
}

.base-btn-link {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
    color: #2563eb;
    justify-content: start;
    gap: 0;
}

.base-btn-link-txt {
    color: #2563eb;
    font-size: var(--span4-size);
    font-weight: 400;
}

/* --- Input Styling (Includes Textarea) */
.form-field-group {
    display: flex;
    gap: 1rem;
    flex: 1 2;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-field-ptn {
    width: auto;
    flex: 1;
}

.input-field-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #4b5563;
}

.input-field-wrapper {
    position: relative;
    width: 100%;
    overflow: visible;
}

.input-field-icon {
    width: fit-content;
    position: absolute;
    padding: 0.75rem 1rem;

    top: 50%;
    transform: translateY(-50%);

    color: theme(colors.zinc.400);
    font-size: 1rem;
    line-height: 1rem;
    vertical-align: middle;
    pointer-events: none;
    z-index: 2;
}

.input-field {
    width: 100%;
    padding: 0.75rem 1rem;
    padding-left: calc(var(--icon-width, 1rem));
    color: #1f2937;
    border-color: #d1d5db;
    border-width: 1px;
    border-radius: 1em;
    background-color: #f9fafb;
    transition: all 200ms ease-in-out;
    z-index: 1;
}

.input-field::placeholder {
    color: #9ca3af;
}

.input-field:focus {
    outline: none;
    border-color: theme(colors.primary.500);
    /* box-shadow: 0 0 0 2px #e0e7ff; */
    background-color: #ffffff;
}

.input-field-wrapper:focus-within .input-field-icon {
    color: theme(colors.primary.500);
}

.input-field-error-feedback {
    color: theme(colors.red.600);
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.25rem;
}

.custom-spinner {
    border: 5px solid #d1d5db;
    border-radius: 50%;
    border-top: 5px solid theme(colors.primary.500);
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*#endregion */

/*#region Language Dropdown */
.language-picker-dropdown {
    width: auto;
    height: var(--header-size);

    position: fixed !important;
    right: var(--side-pd) !important;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.language-picker-menu {
    border: 1px solid theme(colors.gray.300);
    border-radius: 1.6rem;
    overflow: hidden;
}

.language-picker-btn {
    --color: #07895b;
    height: 3.8rem;
    background-color: theme(colors.primary.main) !important;
    z-index: 2 !important;
    color: white;
    padding: 0.8rem 1.2rem;
}

.language-picker-btn-icon,
.language-picker-btn-txt {
    color: white !important;
}

.language-picker-item-btn {
    color: black;
}

.language-picker-item-btn:active {
    background-color: theme(colors.primary.400) !important;
}

/*#endregion */

/*#region Avatar Dropdown */
.account-avatar-dropdown {
    width: auto;
    height: var(--header-size);

    position: fixed !important;
    top: 0;
    right: var(--side-pd) !important;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.account-avatar-menu {
    width: auto !important;
    left: unset !important;
    right: 0 !important;
    border: 1px solid theme(colors.gray.300);
    border-radius: 1.6rem;
    padding: 0 0;
    overflow: hidden;
}

.account-avatar-btn {
    --hovered-color: theme(colors.gray.200);
    background-color: white;

    border: 1px solid theme(colors.gray.200);

    height: 3.8rem;
    z-index: 2 !important;
    color: white;
    padding: 4px;

    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: var(--span4-size) !important;
}

.account-avatar-btn::after {
    display: none !important;
}

.account-avatar-round {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: auto;
    aspect-ratio: 1;
    background-color: var(--random-color);
    border-radius: 99999999px;
    padding: var(--span6-size);
}

.account-initial-txt {
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: var(--span3-size);
    text-align: center;
    vertical-align: center;
}

.account-avatar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: var(--span5-size);
}

.account-avatar-title {
    color: black;
    font-weight: 400;
    font-size: var(--span3-size);
}

.account-avatar-txt {
    color: theme(colors.zinc.600);
    font-weight: 400;
    font-size: var(--span5-size);
}

.account-avatar-item-btn {
    background-color: white;
    z-index: 2 !important;
    color: black;

    display: flex;
    flex-direction: row-reverse !important;
    align-items: center;
    justify-content: flex-start !important;
    padding: 0.4rem 1rem;
    gap: 0.4rem;
}

.account-avatar-item-btn:active {
    background-color: theme(colors.primary.400) !important;
    font-size: 1rem;
}

.account-avatar-item-btn-icon {
    color: black;
    font-size: 0.8rem;
}

/*#endregion */

/*#region Elements Tiny Card */
/* From Uiverse.io by Yaya12085 */
.tiny-card {
    padding: var(--span3-size) var(--span1-size);
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.52), 0 4px 6px -2px rgba(0, 0, 0, 0.61);
    max-width: 20vw;
    border-radius: 20px;
    overflow: hidden;
}

.tiny-card-hd {
    display: flex;
    align-items: center;
}

.tiny-card-hd span {
    width: auto;
    height: auto;

    aspect-ratio: 1;
    padding: var(--span3-size);

    background-color: #10b981;
    border-radius: 9999px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tiny-card-hd i {
    color: #ffffff;
    font-size: var(--span1-size);
}

.tiny-card-title {
    margin-left: var(--span3-size);
    color: #374151;
    font-size: var(--h5-size);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tiny-card-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tiny-card-data-txt {
    margin-top: 1rem;
    margin-bottom: 1rem;

    color: #1f2937;
    font-size: var(--h1-size);
    line-height: var(--h1-size);
    font-weight: 700;
    text-align: left;
}

.tiny-card-description {
    color: theme(colors.secondary.main);
    font-size: var(--span2-size);
    font-weight: 500;
    margin-top: 1rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/*#endregion */

/*#region Table */
.app-table-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    flex: 1;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e7eb;
    position: relative;
}

.app-table-loading-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.app-table-loading-spinner {
    width: 2rem;
    height: 2rem;
    color: #2563eb;
}

.app-table-header-actions {
    padding: 1.5rem;
    border-bottom: 1px solid #e5e7eb;
}

.app-table-actions-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.app-table-actions-row-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}


.app-table-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.app-table-title-row {
    font-size: 2rem;
    color: theme(colors.primary.main);
}

.app-table-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
}


.app-table-search-wrapper {
    position: relative;
    flex: 1;
    max-width: 28rem;
}

.app-table-search-icon {
    position: absolute;
    font-size: 1rem;
    line-height: 1rem;
    left: 1.4rem;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
}

.app-table-search-input {
    width: 100%;
    padding: 0.4rem 1.8rem !important;
    padding-left: 3.2rem !important;
    border: 1px solid theme(colors.gray.200);
    border-radius: 9999999px;

    outline: none;
    transition: ring 0.2s;
}

.app-table-search-input:focus {
    ring: 2px solid #3b82f6;
}

.app-table-filter-group {
    display: flex;
    gap: 0.5rem;
}

.app-table-filter-btn {
    --hovered-color: theme(colors.primary.800);
    --hovered-text-color: white;

    padding: 0.4rem 1.6rem;
    border-radius: 999999px;

    font-size: 0.8rem !important;
    font-weight: 500 !important;
    color: theme(colors.primary.800);
    background-color: theme(colors.primary.100);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.app-table-filter-btn-icon,
.app-table-filter-btn-txt {
    font-size: inherit !important;
    color: inherit;
}


.app-table-wrapper {
    overflow-x: auto;
    flex: 2;
}

.app-table {
    width: 100%;
    border-collapse: collapse;
}

.app-table-thead {
    background-color: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
}

.app-table-th {
    padding: 0.75rem 1.5rem;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 500;
    color: #6b7280;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.app-table-th:hover {
    background-color: #f3f4f6;
}

.app-table-th-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.app-table-sort-icon {
    font-size: 10px;
}

.app-table-tbody {
    background-color: white;
    border-top: 1px solid #e5e7eb;
}

.app-table-tbody-row {
    border-bottom: 1px solid #e5e7eb;
    transition: background-color 0.2s;
}

.app-table-tbody-row:hover {
    background-color: #f9fafb;
}

.app-table-td {
    padding: 1rem 1.5rem;
    white-space: nowrap;
}

.app-table-empty-state {
    padding: 2.5rem 1.5rem;
    text-align: center;
    color: #6b7280;
}

.app-table-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-top: 1px solid #e5e7eb;
}

.app-table-pagination-info {
    font-size: 0.875rem;
    color: #4b5563;
}

.app-table-pagination-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.app-table-pagination-btn {
    width: 2.8rem;
    height: auto;
    aspect-ratio: 1;
    border-radius: 99999999px;
    border: 1px solid theme(colors.zinc.300);
    color: theme(colors.secondary.main);
    background-color: theme(colors.gray.200);
    cursor: pointer;
    transition: background-color 0.2s;
}

.app-table-pagination-btn:hover:not(:disabled) {
    background-color: #f9fafb;
}

.app-table-pagination-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.app-table-pagination-page-btn {
    width: 2.8rem;
    height: auto;
    aspect-ratio: 1;
    border-radius: 999999px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.app-table-pagination-page-btn-active {
    background-color: theme(colors.secondary.main);
    color: white;
    border: none;
}

.app-table-pagination-page-btn-inactive {
    border: 1px solid #d1d5db;
    background-color: white;
}

.app-table-pagination-page-btn-inactive:hover {
    background-color: #f9fafb;
}

.app-table-status-badge {
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 1.6rem;
    border-radius: 9999px;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 500;
    border: 1px solid theme(colors.gray.100);
}

.app-table-status-dot {
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 9999px;
    background-color: currentColor;
    margin-right: 0.375rem;
}

.app-table-status-processed {
    color: #2563eb;
    background-color: #eff6ff;
}

.app-table-status-delivered {
    color: #16a34a;
    background-color: #f0fdf4;
}

.app-table-status-cancelled,
.app-table-status-returned {
    color: #dc2626;
    background-color: #fef2f2;
}

.app-table-status-open {
    color: #ca8a04;
    background-color: #fefce8;
}

.app-table-cell-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.app-table-cell-icon {
    font-size: 1.5rem;
}

.app-table-cell-title {
    font-weight: 500;
    color: #111827;
}

.app-table-cell-subtitle {
    font-size: 0.875rem;
    color: #6b7280;
}

.app-table-cell-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
}

.app-table-action-btn {
    --hovered-color: theme(colors.primary.main);
    --hovered-text-color: white;

    aspect-ratio: 1;
    padding: 1rem;
    font-size: 0.874rem;
    line-height: 0.874rem;
    color: theme(colors.gray.500);
    background-color: theme(colors.zinc.100);
}

.app-table-action-btn-icon,
.app-table-action-btn-txt {
    line-height: inherit;
    font-size: inherit !important;
    color: inherit;
}

/*#endregion */
