/*#region Header */
.app-header {
    width: 100%;
    height: auto;
    padding: var(--top-pd) var(--side-pd);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-logo {
    height: var(--logo-size);
    width: auto;
}

.header-logo-img {
    height: 100%;
    width: auto;
}

/*#endregion */
